@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;600&display=swap");

.dark {
  --color-dark: #191919;
  --color-light: #fff;
  --color-page-back: #191919;
  --color-text: #fff;
}

.light {
  --color-dark: #191919;
  --color-light: #fff;
  --color-page-back: #f7f7f7;
  --color-text: #191919;
}

.default-colors {
  --color-active: #787c7e;
  --color-wrong: #c9b458;
  --color-right: #6aaa64;
}

.high-contrast {
  --color-active: #787c7e;
  --color-wrong: #85c0f9;
  --color-right: #f5793a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  color: var(--color-dark);
  font-family: "Maven Pro", sans-serif;
  background-color: var(--color-page-back);
  user-select: none;
}
a,
a:link,
a:hover,
a:active,
a:visited {
  color: var(--color-light);
  text-decoration: none;
}

.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: relative;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    background-color: var(--color-dark);
    color: var(--color-light);
    padding: 0 1em;
    border-bottom: 1px solid var(--color-active);
    .logo {
      mask-size: cover;
      flex: 1;
      position: relative;
      span {
        position: absolute;
        display: inline;
        top: -1.5vh;
        left: 1.6vh;
        font-size: 2.8vh;
      }
      span::first-letter {
        display: none;
        visibility: hidden;
        opacity: 0;
      }
      img {
        position: absolute;
        top: -2vh;
        width: 4vh;
        height: 4vh;
      }
    }
    .icons {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex: 1;
      gap: 0.75em;
      div {
        width: 1.4em;
        height: 1.4em;
        cursor: pointer;
        background: var(--color-active);
        mask-size: cover;
      }
      .info-button {
        mask: url(/images/info_black_24dp.svg);
        mask-repeat: no-repeat;
      }
      .stats-button {
        mask: url(/images/bar_chart_black_24dp.svg);
        mask-repeat: no-repeat;
      }
      .settings-button {
        mask: url(/images/settings_black_24dp.svg);
        mask-repeat: no-repeat;
      }
    }
  }

  .words {
    height: 56vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    .row {
      display: flex;
      gap: 0.5em;
    }
    .word-key {
      width: 7vh;
      height: 7vh;
      border: 1px solid var(--color-active);
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-size: 1.5em;
      color: var(--color-light);
    }
  }

  .keypad-area {
    height: 33vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 0.3em;
    .row {
      max-width: 500px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.15em;
      .key {
        width: 7.5vw;
        height: 8.5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        border: 1px solid var(--color-active);
        cursor: pointer;
      }
      .delete {
        width: 13vw;
        div {
          width: 1.4em;
          height: 1.4em;
          mask-size: cover;
          background-color: var(--color-light);
          mask: url(/images/backspace_black_24dp.svg);
          mask-repeat: no-repeat;
        }
      }
      .try {
        width: 30vw;
        img {
          width: 4vh;
          height: 4vh;
          margin-top: 0.5vh;
        }
      }
    }
  }
  .example{
    display: block;
    height: auto;
  }

  .footer {
    height: 3vh;
    text-align: center;
    background-color: var(--color-dark);
    color: var(--color-light);
    font-size: 0.7em;
    padding-top: 0.4em;
  }

  .key {
    background-color: var(--color-dark);
    color: var(--color-light);
    box-shadow: 0 0 0.2em rgba(var(--color-dark), $alpha: 0.3);
  }
  .active {
    background-color: var(--color-active);
    cursor: default !important;
  }
  .right {
    background-color: var(--color-right);
  }
  .wrong {
    background-color: var(--color-wrong);
  }

  .info-box,
  .stats-box,
  .settings-box {
    position: absolute;
    width: 100vw;

    background-color: var(--color-page-back);
    color: var(--color-text);
    transition: all 0.4s ease-in-out;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    top: 8vh;
    left: -200vh;
    bottom: 3vh;
    &.open {
      left: 0;
      right: 0;
    }
    .row {
      max-width: 500px;
      position: relative;
      margin-top: 2em;
      z-index: 1;
      padding: 0.5em;
      .close-button {
        position: absolute;
        right: 1em;
        top: -1em;
        width: 1.4em;
        height: 1.4em;
        cursor: pointer;
        background: var(--color-text);
        mask-size: cover;
        mask: url(/images/close_black_24dp.svg);
        mask-repeat: no-repeat;
      }
      h2 {
        font-size: 2em;
        margin-bottom: 0.5em;
      }
      .cols {
        display: flex;
        gap: 0.5em;
        border-bottom: 1px solid var(--color-active);
        padding-bottom: 0.5em;
        .col {
          width: 250px;
          min-height: 3em;
          display: flex;
          flex-direction: column;
          justify-content: center;
          span:nth-child(2) {
            margin-top: 0.5em;
            font-size: 0.7em;
            display: inline-block;
          }




          .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
          }
          
          .switch input {
            opacity: 0;
            width: 0;
            height: 0;
          }
          
          .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: var(--color-active);
            -webkit-transition: .4s;
            transition: .4s;
          }
          
          .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 2px;
            background-color: var(--color-light);
            -webkit-transition: .4s;
            transition: .4s;
          }
          
          input:checked + .slider {
            background-color: var(--color-right)
          }
          
          input:focus + .slider {
            box-shadow: 0 0 1px var(--color-right);
          }
          
          input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
          }
          
          
          .slider.round {
            border-radius: 34px;
          }
          
          .slider.round:before {
            border-radius: 50%;
          }


        }
        .col:nth-child(2) {
          width: 80px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .example-theme{

        margin-top: 2em;

        .row {
          display: flex;
          gap: 0.5em;
          margin-top: .5em;
        }
        .word-key {
          width: 7vh;
          height: 7vh;
          border: 1px solid var(--color-active);
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: bold;
          font-size: 1.5em;
          color: var(--color-light);
        }


      }
    }
  }
}
