@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
  color: #191919;
  font-family: "Maven Pro", sans-serif;
  background-color: #fff;
}

.container {
  width: 100vw;
  min-height: 100dvh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1dvh;
}

.container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 8dvh;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #191919;
  color: #fff;
}

.container .header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 0.5em;
  -webkit-mask-size: cover;
          mask-size: cover;
}

.container .header .logo img {
  width: 2em;
  height: 2em;
}

.container .header .app-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  gap: .2em;
}

.container .header .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 0.8em;
  gap: .4em;
}

.container .header .icons div {
  width: 1.4em;
  height: 1.4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background: #fff;
  -webkit-mask-size: cover;
          mask-size: cover;
}

.container .header .icons .info {
  -webkit-mask: url(/images/info_black_24dp.svg);
          mask: url(/images/info_black_24dp.svg);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}

.container .header .icons .stats {
  -webkit-mask: url(/images/bar_chart_black_24dp.svg);
          mask: url(/images/bar_chart_black_24dp.svg);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}

.container .header .icons .settings {
  -webkit-mask: url(/images/settings_black_24dp.svg);
          mask: url(/images/settings_black_24dp.svg);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}

.container .words {
  width: 100vw;
  height: 55dvh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container .words .row {
  width: 100vw;
  height: 7.5dvh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5vh;
}

.container .words .row .word-key {
  width: 7dvh;
  height: 7dvh;
  border: 1px solid #191919;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 1.5em;
  color: #fff;
}

.container .words .row .active {
  background-color: #6a7474;
}

.container .words .row .right {
  background-color: #0ecc6d;
}

.container .words .row .wrong {
  background-color: #f38911;
}

.container .keypad-area {
  height: 30dvh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container .keypad-area .keys-letters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5dvh;
}

.container .keypad-area .keys-letters .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0.5dvh;
  max-width: 500px;
}

.container .keypad-area .keys-letters .row .key {
  width: 7.7vw;
  height: 10dvh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6px;
  cursor: pointer;
  background-color: #191919;
  color: #fff;
}

.container .keypad-area .keys-letters .row .delete {
  width: 13vw;
}

.container .keypad-area .keys-letters .row .try {
  width: 30vw;
}

.container .keypad-area .keys-letters .row .active {
  background-color: #6a7474;
  cursor: default;
}

.container .keypad-area .keys-letters .row .right {
  background-color: #0ecc6d;
}

.container .keypad-area .keys-letters .row .wrong {
  background-color: #f38911;
}

.container .footer {
  height: 3dvh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #191919;
  color: #fff;
  font-size: 0.7em;
}
/*# sourceMappingURL=style.css.map */